# project folders
.build
build
dist
*.egg-info

# test
*.test_results
*-test-results.xml
.coverage

.tools*
.venv*

# vscode
.vscode

# python
.mypy_cache
.pytest_cache
__pycache__
*.py[co]
.python-version

FUTURE.md
