-r src/steampipe/requirements.txt
-r examples/steampipe_microservice/requirements.txt

autopep8
isort
flake8
flake8-quotes

typing
mypy

pytest
pytest-cov
pytest-mock
pytest-nunit
coverage[toml]

pre-commit
setuptools
wheel
poetry