-r src/requirements.txt
-r examples/pipelayer_microservice/requirements.txt
-r examples/simple_pipelayer/requirements.txt

autopep8
isort
flake8
flake8-quotes

mypy

pytest
pytest-cov
pytest-mock
pytest-nunit
coverage[toml]

poetry
pre-commit
setuptools
wheel
twine
